# .gitignore
*samples_table_processed*
*.DS_Store
.snakemake/
fastp*
logs/
slurm*.out
snakemake_dry_run.txt
Results/
.Rhistory
__pycache__/
*samples_table_2.csv
*commands*sh
*samples.csv
commands_develop*
*.log
