# .gitignore
*samples_table_processed*
*.DS_Store
.snakemake/
fastp*
logs/
slurm*.out
*dry_run*.txt
Results/
.Rhistory
__pycache__/
*samples_table_2.csv
*samples.csv
commands_develop*
*.log
List_of_files_for_rule_all.txt
